[core]
editor = code --wait
[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
[color]
ui = true
[color "diff-highlight"]
oldNormal = red bold
oldHighlight = white bold 52
newNormal = green bold
newHighlight = white bold 22
[color "diff"]
meta = black
frag = blue bold
commit = black bold
old = red bold
new = green bold
whitespace = red reverse
[alias]
st = status
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
latest = branch -av --sort=-committerdate
[log]
date = iso
